<ion-view title="Bienvenido" id="page2" style="background-color:#17191A;">
  <ion-content padding="true" class="has-header">
    <h1 id="bienvenido-heading2" style="color:#F8EEEE;text-align:center;">Mecánica de sólido I</h1>
    <div id="bienvenido-markdown9" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Esta aplicación abarca los contenidos de Mecánica de sólido I, la cual se puede utilizar como apoyo a lo largo del curso. </p>
    </div>
    <div>
      <img src="img/0DpUtgBvR1yp2w96JjXg_portada.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>