<ion-view title="Conceptos básicos de la resistencia de materiales" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="conceptosBSicosDeLaResistenciaDeMateriales-list7">
      <ion-item class="positive" id="conceptosBSicosDeLaResistenciaDeMateriales-list-item35">Teoría </ion-item>
      <ion-item class="positive" id="conceptosBSicosDeLaResistenciaDeMateriales-list-item36">Fórmulas </ion-item>
      <ion-item class="positive" id="conceptosBSicosDeLaResistenciaDeMateriales-list-item37">Ejercicios</ion-item>
      <ion-item class="positive" id="conceptosBSicosDeLaResistenciaDeMateriales-list-item38">Videos </ion-item>
    </ion-list>
  </ion-content>
</ion-view>