<ion-view title="Ejercicios" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/OkyNrX6GT4mkLCUQbUgD_i1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <div>
      <img src="img/KKSgPFjrRUno4UiVvCmP_i2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>