<ion-view title="Ejercicios" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/p4OE2yF9QX6zLWEJwHai_Slido36.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <img src="img/IFOBfIWTrW3FmTuoAb5I_Slido37.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/iGYRsbsmRXWmLSfPzqjT_Slido38.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/vjqAlgcGQcKqhmjpnsdd_Slido39.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <div>
      <img src="img/64zSnIReT9OrDEgmUty5_Slido40.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <img src="img/7RJuLT8RtGTEQG1hDTaJ_Slido41.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/3siLrBdRqKXg1anb8JBK_Slido42.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <div>
      <img src="img/GzQQwJBGRVsgl1cU0ZcX_Slido43.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div>
      <img src="img/EKkx7BNdQOOPQoaMOfhw_Slido44.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/IZXynOonT5i4p30brtoN_Slido45.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <div>
      <img src="img/ahcBxkrTZiOVae5yPf2q_Slido46.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div>
      <img src="img/TJR3ML3SzaDEJHGvTtiQ_Slido47.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
  </ion-content>
</ion-view>