<ion-view title="Ejercicios" id="page19">
  <ion-content padding="true" class="has-header">
    <h3 id="ejercicios3-heading46" style="color:#000000;">Ejercicio 1</h3>
    <div>
      <img src="img/xDEgmbl6QWahZRSdqYT1_Ej1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/DJDTMOaSsqFSIbXiuJxQ_Ej11.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/k0mVMPoTy6kyX3hKSJlv_Ej111.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="ejercicios3-heading47" style="color:#000000;">Ejercicio 2</h3>
    <div>
      <img src="img/JLzZLOO0QmieXXEscw2O_Ej2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Yq07Nuf4QjKFujE9IZxZ_Ej22.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/YSofS9oeQyao7uz8iKWh_Ej222.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="ejercicios3-heading48" style="color:#000000;">Ejercicio 3</h3>
    <div>
      <img src="img/ynHvgWmSQRy8I3FrcaJX_Ej3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/g87DuhVNTKShaUJHLmcv_Ej33.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/PwOJsKpKTWKYNCDAc29j_Ej333.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>