<ion-view title="Esfuerzos y deformaciones en vigas" id="page17">
  <ion-content padding="true" class="has-header">
    <ion-list id="esfuerzosYDeformacionesEnVigas-list11">
      <ion-item class="assertive" id="esfuerzosYDeformacionesEnVigas-list-item51" ui-sref="teorA2()">Teoría </ion-item>
      <ion-item class="assertive" id="esfuerzosYDeformacionesEnVigas-list-item52" ui-sref="fRmulas2()">Fórmulas</ion-item>
      <ion-item class="assertive" id="esfuerzosYDeformacionesEnVigas-list-item53" ui-sref="ejercicios2()">Ejercicios</ion-item>
      <ion-item class="assertive" id="esfuerzosYDeformacionesEnVigas-list-item54" ui-sref="videos2()">Videos </ion-item>
    </ion-list>
  </ion-content>
</ion-view>