<ion-view title="Fórmulas" id="page12">
  <ion-content padding="true" class="has-header">
    <h3 id="fRmulas3-heading36" style="color:#000000;">Demostración de las fórmulas</h3>
    <div>
      <img src="img/rx6AcQKmTtObpXjlJLXW_P2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="fRmulas3-heading41" style="color:#000000;">Fórmulas</h3>
    <div id="fRmulas3-markdown53" class="show-list-numbers-and-dots">
      <p style="color:#000000;">V=-∫ωdx</p>

      <p style="color:#000000;">M=-∫Vdx</p>
    </div>
    <h3 id="fRmulas3-heading42" style="color:#000000;">Convención de signos</h3>
    <div>
      <img src="img/9DaU0HndTdei9RoJMjaB_P5.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>