<ion-view title="Fórmulas" id="page7">
  <ion-content padding="true" class="has-header">
    <h2 id="fRmulas2-heading5" style="color:#000000;">Esfuerzo de flexión</h2>
    <div>
      <img src="img/vYUHZtHOQJGBlhnV9INr_Slido15.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown13" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• M: momento flector.</p>

      <p style="color:#000000;">• I: momento de inercia.</p>

      <p style="color:#000000;">• y: distancia desde el centroide de la sección transversal hasta el punto donde se calcula el esfuerzo de flexión.</p>
    </div>
    <div>
      <img src="img/Nkk6vyp5SK6mYcL01HGP_Slido21.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div>
      <img src="img/9Nc3NydYRsCuBPuIT2zy_Slido17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown14" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• M: momento flector </p>

      <p style="color:#000000;">• S: módulo de sección elástico</p>
    </div>
    <div>
      <img src="img/9OKIN7NLTYGD8Lrq13Ov_Slido16.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div id="fRmulas2-markdown29" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• I: momento de inercia </p>

      <p style="color:#000000;">• C: distancia entre el centroide de la sección transversal y el extremo superior o inferior.</p>
    </div>
    <div>
      <img src="img/BRM0wK4bRk6FqgMUmIFg_Slido22.png" style="display: block; width: 31%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="fRmulas2-heading6" style="color:#000000;">Esfuerzo cortante</h2>
    <div>
      <img src="img/PHHn1RWQTdusUT8xUxYI_Slido18.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown17" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• V: fuerza cortante. </p>

      <p style="color:#000000;">• I: momento de inercia.</p>

      <p style="color:#000000;">• b: ancho de la sección donde se calcula el esfuerzo cortante.</p>

      <p style="color:#000000;">• Q: primer momento de área de la sección que genera el cortante.</p>
    </div>
    <div>
      <img src="img/fgtJMGisSY64Le0jUgeN_Slido20.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown25" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• A: menor área entre el punto donde se calcula el esfuerzo cortante y el extremo superior o inferior de la sección transversal.</p>

      <p style="color:#000000;">• y': distancia entre el centroide de la sección transversal y el centroide de la sección del área A.</p>
    </div>
    <div>
      <img src="img/BUHm57djRkOwmkSGH1mn_Slido23.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 4px;"></div>
    <h3 id="fRmulas2-heading9" style="color:#000000;">Esfuerzo cortante máximo</h3>
    <div>
      <img src="img/9VKu5WKFQgCYqqOCnpxe_Slido19.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown26" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• V: fuerza cortante.</p>

      <p style="color:#000000;">• A: área de la sección transversal.</p>
    </div>
    <h2 id="fRmulas2-heading7" style="color:#000000;">Deformación en vigas</h2>
    <h3 id="fRmulas2-heading8" style="color:#000000;">Método de integración</h3>
    <div>
      <img src="img/2o3O0baaS6SxS18FTfov_Slido4.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="fRmulas2-markdown27" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A continuación, se muestran los pasos necesarios para desmostrar la ecuación anterior:</p>
    </div>
    <div>
      <img src="img/ztv6qYJETAmS5j2AX5ig_Slido24.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown33" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/roBdcTjZS1ywzDFeznuo_Slido25.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown43" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/Z4bKuD7QQzyXJRFbVQbf_Slido26.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown31" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/IVI57BQSheXr99CtuCrA_Slido30.png" style="display: block; width: 101%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown44" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/2FvzSzt9RJxENOXaVyqA_Slido27.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown46" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/dYeStHTP2DSZCHFJrbwK_Slido28.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown45" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/lDjoQxe2QVuXYAJsToVA_Slido29.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="fRmulas2-heading15" style="color:#000000;">Método de área momento</h3>
    <h4 id="fRmulas2-heading16" style="color:#000000;">Primer teorema de área momento</h4>
    <div>
      <img src="img/w7ynLdaJRwuiPtUewMPH_Slido31.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fRmulas2-markdown49" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• Δθ: ángulo entre las tangentes de A y de B.</p>

      <p style="color:#000000;">• A: área desde A hasta B en el diagrama de momentos dividido entre EI.</p>
    </div>
    <div id="fRmulas2-markdown50" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Además, en este teorema se puede utilizar la siguiente propiedad, siempre y cuando θ sea un ángulo muy pequeño:</p>
    </div>
    <div>
      <img src="img/EqfwQyNtQmmzCye6Yzb0_Slido32.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="fRmulas2-heading17" style="color:#000000;">Segundo teorema de área momento</h4>
    <div>
      <img src="img/fCtn4aduRYO5uZk3HYHQ_Slido33.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <div id="fRmulas2-markdown48" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• Ta/b: desviación tangencial del punto A al punto B.</p>

      <p style="color:#000000;">• A: área desde A hasta B en el diagrama de momentos dividido entre EI.</p>

      <p style="color:#000000;">• X: centroide de la figura en el diagrama de momento dividido entre EI, formada por el área desde el punto A hasta el punto B.</p>
    </div>
    <h4 id="fRmulas2-heading18" style="color:#000000;">Cálculo de áreas bajo la curva</h4>
    <div id="fRmulas2-markdown51" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Las siguientes figuras muestran la fórmula para calcular áreas bajo una curva cóncava, lo cual es de mucha ayuda para calcular áreas bajo la curva del diagrama de momentos dividido entre EI:</p>
    </div>
    <div>
      <img src="img/4VN2tW1TomxP6jrkqzLX_Slido34.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div>
      <img src="img/yyN3BwQ6QeGpiX8ujTRs_Slido35.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
  </ion-content>
</ion-view>