<ion-view title="Fuerzas cortantes y momento flexionantes en vigas" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="fuerzasCortantesYMomentoFlexionantesEnVigas-list8">
      <ion-item class="balanced" id="fuerzasCortantesYMomentoFlexionantesEnVigas-list-item39">Teoría </ion-item>
      <ion-item class="balanced" id="fuerzasCortantesYMomentoFlexionantesEnVigas-list-item40">Fórmulas</ion-item>
      <ion-item class="balanced" id="fuerzasCortantesYMomentoFlexionantesEnVigas-list-item41">Ejercicios</ion-item>
      <ion-item class="balanced" id="fuerzasCortantesYMomentoFlexionantesEnVigas-list-item42">Videos </ion-item>
    </ion-list>
  </ion-content>
</ion-view>