<ion-view title="Solicitaciones especiales " id="page18">
  <ion-content padding="true" class="has-header">
    <ion-list id="solicitacionesEspeciales-list12">
      <ion-item class="energized" id="solicitacionesEspeciales-list-item55" ui-sref="teorA()">Teoría </ion-item>
      <ion-item class="energized" id="solicitacionesEspeciales-list-item56" ui-sref="fRmulas()">Fórmulas</ion-item>
      <ion-item class="energized" id="solicitacionesEspeciales-list-item57" ui-sref="ejercicios()">Ejercicios</ion-item>
      <ion-item class="energized" id="solicitacionesEspeciales-list-item58" ui-sref="videos()">Videos </ion-item>
    </ion-list>
  </ion-content>
</ion-view>