<ion-view title="Teoría" id="page13">
  <ion-content padding="true" class="has-header">
    <h2 id="teorA-heading3" style="color:#000000;">Torsión </h2>
    <div id="teorA-markdown10" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:14px;">Una pieza prismática está sometida a torsión simple cuando sobre sus secciones actúa únicamente un momento resultante que tiene componente solo sobre el eje x de la pieza, es decir, un momento torsor, Mt. Si el momento torsor actuante es constante
        a lo largo de la pieza, se dice que el estado es de torsión pura.</p>
    </div>
    <h4 id="teorA-heading10" style="color:#000000;">Torsión de Coulomb – Sección circular</h4>
    <div id="teorA-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Premisas:</strong>
      </p>
    </div>
    <div id="teorA-markdown12" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• Las secciones rectas giran alrededor de su centro de gravedad, por simetría axial respecto al eje de la pieza. </p>

      <p style="color:#000000;">• Las secciones rectas se conservan circulares y planas en la deformación.</p>

      <p style="color:#000000;">• Los radios de la sección se conservan rectos en la deformación, por simetría de la solicitación respecto de cualquier sección recta. </p>

      <p style="color:#000000;">• El ángulo entre dos radios cualesquiera de la sección permanece inalterado en la deformación, por simetría axial respecto al eje de la pieza.</p>
    </div>
    <div>
      <img src="img/OXfeejeERouhen8oa5XU_TorsindeCoulombSeccincircular.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="teorA-heading11" style="color:#000000;">Torsión de Saint-Venant</h4>
    <div id="teorA-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Experimentalmente se determinó que: </strong>
      </p>
    </div>
    <div id="teorA-markdown16" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• La distorsión angular es máxima en los puntos medios de los lados más largos del rectángulo, que no son los puntos más alejados del baricentro de la sección, mientras que en las esquinas, que sí lo son, la distorsión es Las secciones rectas se
        conservan circulares y planas en la deformación. • Las secciones rectas de las piezas no permanecen planas al ser sometidas a torsión, sino que se alabean.</p>
    </div>
    <div>
      <img src="img/XbS6gL5tQbG0go9l7Xzl_c.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>