<ion-view title="Teoría" id="page20">
  <ion-content padding="true" class="has-header">
    <div id="teorA4-markdown47" class="show-list-numbers-and-dots">
      <p style="color:#000000;">La resistencia de materiales se enfoca en el análisis y descripción del comportamiento de los cuerpos sólidos, bajo la acción de cargas externas aplicadas, lo cual induce fuerzas internas y deformaciones que también forman parte del estudio.
      </p>
    </div>
    <h3 id="teorA4-heading37" style="color:#000000;font-weight:400;">Resistencia y Rigidez</h3>
    <div id="teorA4-markdown59" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>