<ion-view title="Videos" id="page16">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/https://youtu.be/si45ELq9Jes?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videos-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <div ng-init="videourl_video4=&quot;https://www.youtube.com/embed/https://youtu.be/L34cYvrJ6tA?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videos-video4">
      <iframe src="{{videourl_video4}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>