<ion-view title="Videos" id="page9">
  <ion-content padding="true" class="has-header">
    <h4 id="videos2-heading19" style="color:#000000;">Cálculo de esfuerzo cortante</h4>
    <div ng-init="videourl_video5=&quot;https://www.youtube.com/embed/https://www.youtube.com/watch?v=VqAhLEjUO38?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videos2-video5">
      <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <h4 id="videos2-heading20" style="color:#000000;">Deflexión en vigas por método de integración</h4>
    <div ng-init="videourl_video6=&quot;https://www.youtube.com/embed/https://www.youtube.com/watch?v=FAS1irDPKBI?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videos2-video6">
      <iframe src="{{videourl_video6}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <h4 id="videos2-heading21" style="color:#000000;">Deflexión en vigas por método de área momento</h4>
    <div ng-init="videourl_video7=&quot;https://www.youtube.com/embed/https://www.youtube.com/watch?v=s85FRjfnVMU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videos2-video7">
      <iframe src="{{videourl_video7}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>